@import "../public/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &,
    &.light-mode {
      --background-app-rgb: 255, 255, 255;
      --color-primary-900: 17, 24, 39;
      --color-primary-800: 31, 41, 55;
      --color-primary-700: 203, 213, 225;
      --color-primary-600: 75, 85, 99;
      --color-primary-500: 183, 196, 215;
      --color-primary-300: 51, 65, 85;
      --color-primary-100: 230, 235, 242;
      --color-red-300: 248, 113, 113;
    }
    &.dark-mode {
      --color-primary-900: 249, 250, 251;
      --color-primary-800: 243, 244, 246;
      --color-primary-700: 51, 65, 85;
      --color-primary-600: 71, 85, 105;
      --color-primary-500: 100, 116, 139;
      --color-primary-300: 203, 213, 225;
      --color-primary-100: 31, 41, 55;
    }
  }
}

@layer components {
  .icon {
    @apply w-5 h-5 text-primary-900;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}
